<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header %>
</header>
<body>
    <ul>
      <% for (let key in urlDatabase) { %>
        <li>
         <%= key %> ⟶ <%= urlDatabase[key] %>
          <form method="POST" action="/urls/9sm5xK/delete">
            <input type="submit" value="Delete"> <!-- this is a button -->
          </form>
        </li>
      <% } %>
    </ul>
</body>
</html>