<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <p><a href="/urls/new">Add new URL</a></p>
        <ul>
          <% for (let key in urlDatabase) { %>
            <li>
             <%= key %> ⟶ <%= urlDatabase[key] %>
              <form method="POST" action="/urls/<%= key %>/delete">
                <p><a href="/urls/<%= key %>">Edit</a></p>
                <input type="submit" value="Delete">
              </form>
            </li>
          <% } %>
        </ul>
  </body>
</html>