<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <% if(user) {%>
       <% for (let i in urlDatabase) { %>
          <% if(user.id===urlDatabase[i].userId) { %>
            <h3><a href="/urls/new">Add new URL</a></h3>
             <ul>
              <li>
                <%= urlDatabase[i].longURL %> ⟶ <%= urlDatabase[i].shortURL %>
                <form method="POST" action="/urls/<%= urlDatabase[i].shortURL %>/delete">
                  <p><a href="/urls/<%= urlDatabase[i].shortURL %>">Edit</a></p>
                  <input type="submit" value="Delete">
                </form>
              </li>


            </ul>

          <% } %>

      <% } %>

    <% } %>



  </body>
</html>